/********************** INICIO GERAL **********************/
html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
body{
   line-height:1;
   margin:0;
}

blockquote,q{
   quotes:none
}
blockquote:before,blockquote:after{
   content:'';
   content:none
}
q:before,q:after{
   content:'';
   content:none
}
table{
   border-collapse:collapse;
   border-spacing:0
}
audio,canvas,progress,video{
   display:inline-block
}
audio:not([controls]){
   display:none;
   height:0
}
progress{
   vertical-align:baseline
}
template,[hidden]{
   display:none
}
abbr[title]{
   border-bottom:none;
   text-decoration:underline;
   text-decoration:underline dotted
}
dfn{
   font-style:italic
}
h1{
   font-size:2em;
   margin:0.67em 0
}
a:active,
a:hover{
   outline-width:0
}
a{
   background-color:transparent;
   -webkit-text-decoration-skip:objects;
   text-decoration:none
}
ol,ul{
   list-style:none
}
mark{
   background-color:#ff0;
   color:#000
}
small{
   font-size:80%
}
sub,sup{
   font-size:75%;
   line-height:0;
   position:relative;
   vertical-align:baseline
}
sub{
   bottom:-0.25em
}
sup{
   top:-0.5em
}
img{
   border-style:none
}
svg:not(:root){
   overflow:hidden
}
code,kbd,pre,samp{
   font-size:1em
}
figure{
   margin:1em 40px
}
hr{
   box-sizing:content-box;
   height:0;
   overflow:visible
}
button,input,select,textarea{
   font:inherit;
   margin:0
}
optgroup{
   font-weight:bold
}
button,input{
   overflow:visible
}
button,select{
   text-transform:none
}
button,html [type="button"],[type="reset"],[type="submit"]{
   -webkit-appearance:button
}
button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{
   border-style:none;
   padding:0
}
button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{
   outline:1px dotted ButtonText
}
fieldset{
   border:1px solid #c0c0c0;
   margin:0 2px;
   padding:0.35em 0.625em 0.75em
}
legend{
   box-sizing:border-box;
   color:inherit;
   display:table;
   max-width:100%;
   padding:0;
   white-space:normal
}
textarea{
   overflow:auto
}
[type="checkbox"],[type="radio"]{
   box-sizing:border-box;
   padding:0
}
[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{
   height:auto
}
[type="search"]{
   -webkit-appearance:textfield;
   outline-offset:-2px
}
[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{
   -webkit-appearance:none
}
::-webkit-input-placeholder{
   color:inherit;
   opacity:0.54
}
::-webkit-file-upload-button{
   -webkit-appearance:button;
   font:inherit
}
*{
   margin:0;
   padding:0;
   border:0;
   box-sizing:border-box
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address{
   margin:0;
   padding:0;
   border:0;
   font-size:100%;
   vertical-align:baseline
}
big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,{
   margin:0;
   padding:0;
   border:0;
   font-size:100%;
   vertical-align:baseline
}
article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
   margin:0;
   padding:0;
   border:0;
   font-size:100%;
   vertical-align:baseline
}
h1,h2,h3,h4,h5,h6{
   font-weight:normal
}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{
   display:block
}
/********************** TERMINO GERAL **********************/
/************************************************************/
/********************** INICIO DESKTOP **********************/
/* INICIO BACKGROUND */
html body{
    background-image: url("../images/grid.png");
    background-repeat: repeat;
    background-size: 50%;
    height: 100%;
    max-height: 100%;
}
/* FIM BACKGROUND */
/**********************/
/* INICIO HEADER */
html body header {
    min-height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
}
html body header .logo {
    float:left;
    margin:0;
    width: 50%;
    height: -webkit-fill-available;
}
html body header .logo a {
    width: 16%;
    height: 140px;
    display: inline-grid;
    text-indent:-999em;
    margin: 50px 0 0 70px;
    background-image:url("../images/logo_studio-hema.svg");
    background-repeat: no-repeat;
}
html body header .logo h1 a {
    width: 16%;
    height: 140px;
    display: inline-grid;
    margin: 50px 0 0 50px;
}
html body header nav {
    float: right;
    margin: 0;
    padding: 50px 50px 0 0;
    width: 50%;
    height: -webkit-fill-available;
    text-align: right;
    text-transform: uppercase;
}
html body header nav a {
    font-family: Poppins;
    font-size: 14px;
    letter-spacing: 3px;
    color: #000;
    display: inline-grid;
    margin-bottom: 10px;
}
html body header nav a:hover {
    text-decoration: line-through;
}
html body header nav .ativo {
    text-decoration: line-through;
    color:#CCA69A;
}
/* FIM HEADER */
/**********************/
/* INICIO CONTEUDO */
html body content {
    width: 80%;
    margin: 100px 10% 0 10%;
    align-content: center;
    display: block;
}
html body content .cases {
    background-repeat: no-repeat;
    width: 100%;
    height: -webkit-fill-available;
    height: 70%;
    display: block;
    align-content: center;
    padding: 0;
    text-indent:-999em;
}
html body content h2 {
    font-family: Oswald;
    font-weight: 300;
    font-size:80px;
    color:#000;
    text-align: center;
    text-transform: uppercase;
    display: block;
}
html body content h2 strong {
   font-weight: 700;
}
html body content h5 {
    font-family: Poppins;
    font-weight: 300;
    font-size:18px;
    color:#000;
    text-align: center;
    letter-spacing:5px;
    margin: 20px 10% 0 10%;
    width: 80%;
    text-transform: uppercase;
    line-height: 30px;
}
html body content p {
    font-family: Poppins;
    font-weight: 300;
    font-size:16px;
    color:#000;
    text-align: center;
    margin: 20px 10% 0 10%;
    width: 80%;
    line-height: 30px;
}
html body content ul {
  text-align: center;
}
html body content li {
  font-family: Poppins;
  font-weight: 300;
  font-size:16px;
  color:#000;
  text-align: center;
  line-height: 30px;
  padding: 20px;
  display: inline-block;
  text-transform: uppercase;
}
html body content .purple {
    background-image: url("../images/case-purple-yellow.png");
    background-size: 100%;
    margin-top: 80px;
}
html body content .blue {
    background-image: url("../images/case-blue-bird.png");
    background-size: 100%;
}
html body content .editora {
    background-image: url("../images/case-editora-santuario.png");
    background-size: 100%;
}
html body content .livraria {
    background-image: url("../images/case-livraria-culura.png");
    background-size: 100%;
}
html body content hr {
  border: 0;
  margin-bottom: 100px;
}

html body content {
  margin-bottom: 300px;
}
/* FIM CONTEUDO */
/**********************/
/* INICIO FOOTER */
html body footer {
    min-height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
html body footer .contato {
    float:left;
    bottom:0;
    width: 50%;
    position: fixed;
}
html body footer .contato a {
    font-family: Poppins;
    font-size: 14px;
    letter-spacing: 3px;
    color: #000;
    text-transform: uppercase;
    display: inline-grid;
    margin: 0 0 50px 70px;
}
html body footer .contato a:hover {
    text-decoration: line-through;
}
html body footer .redes {
    right: 0;
    background-image: url("../images/splash_botton.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: right;
    background-position-y: bottom;
    float: left;
    bottom: 0;
    width: 50%;
    position: fixed;
}
html body footer .redes ul {
    padding: 50px 50px 0 0;
    text-align: right;
}
html body footer .redes li {
    display: inline-grid;
    margin: 0 10px 50px 0;
}
html body footer .redes li .skype{
  background-image: url("../images/skype.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  font-size: 0;
}
html body footer .redes li .whatsapp{
  background-image: url("../images/whatsapp.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  font-size: 0;
}
html body footer .redes li .skype:hover{
  background-image: url("../images/skype-hover.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  font-size: 0;
}
html body footer .redes li .whatsapp:hover{
  background-image: url("../images/whatsapp-hover.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  font-size: 0;
}
/* FIM FOOTER */
/********************** TERMINO DESKTOP **********************/
/************************************************************/
/********************** INICIO MOBILE **********************/
/* INICIO BACKGROUND */
@media only screen and (min-width: 100px) and (max-width: 760px){
    html body{
        background-image: url("../images/grid.png");
        background-repeat: repeat;
        background-size: 500%;
        height: 100%;
        max-height: 100%;
    }
}
/* FIM BACKGROUND */
/**********************/
/* INICIO HEADER */
@media only screen and (min-width: 100px) and (max-width: 760px){
    html body header {
        min-height: 60px;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100px;
        background-color: #ffffffe0;
    }
    html body header .logo {
        float:left;
        margin:0;
        width: 50%;
        height: -webkit-fill-available;
    }
    html body header .logo a {
        width: 50%;
        height: 140px;
        display: inline-grid;
        text-indent:-999em;
        margin: 20px 0 0 20px;
        background-image:url("../images/logo_studio-hema.svg");
        background-repeat: no-repeat;
    }
    html body header .logo h1 a {
        width: 16%;
        height: 140px;
        display: inline-grid;
        margin: 50px 0 0 50px;
    }
    html body header nav {
        float: right;
        margin: 0;
        padding: 20px 20px 0 0;
        width: 50%;
        height: -webkit-fill-available;
        text-align: right;
        text-transform: uppercase;
    }
}
/* FIM HEADER */
/**********************/
/* INICIO CONTEUDO */
@media only screen and (min-width: 100px) and (max-width: 760px){
    html body content {
        width: 80%;
        margin: 100px 10% 0 10%;
        align-content: center;
        display: block;
    }
html body content .cases {
        height: 130px;
}
    html body content h2 {
        font-family: Oswald;
        font-weight: 300;
        font-size:30px;
        color:#000;
        text-align: center;
        text-transform: uppercase;
        display: block;
    }
    html body content h2 strong {
       font-weight: 700;
    }
    html body content h5 {
        font-family: Poppins;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        color: #000;
        text-align: center;
        letter-spacing: 5px;
        margin: 20px 0 0 0;
        width: 100%;
    }
    html body content p {
        font-family: Poppins;
        font-weight: 300;
        font-size: 14px;
        color:#000;
        text-align: center;
        margin: 20px 0 0 0;
        width: 100%;
        line-height: 30px;
    }
    html body content hr {
      border: 0;
      margin-bottom: 30px;
    }
    html body content ul {
      text-align: center;
    }
    html body content li:first-of-type{
      margin-top: 20px;
    }
    html body content li {
      font-family: Poppins;
      font-weight: 300;
      font-size:12px;
      color:#000;
      text-align: center;
      line-height: 30px;
      padding: 20px;
      display: inline-block;
      text-transform: uppercase;
      padding: 0px 20px 0 0
    }
}
html body content {
  margin-bottom: 30px;
}
/**********************/
/* INICIO FOOTER */
@media only screen and (min-width: 100px) and (max-width: 760px){
    html body footer .contato {
        display: none;
    }
    html body footer .redes {
        right: 0;
        background-image: url("../images/splash_botton.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-x: right;
        background-position-y: bottom;
        float: left;
        bottom: 0;
        width: 50%;
        position: fixed;
    }
    html body footer .redes ul {
        padding: 0;
        text-align: right;
    }
    html body footer .redes li {
        margin: 0 20px 20px 0;
    }
}
/* FIM FOOTER */
/********************** TERMINO MOBILE **********************/
/************************************************************/
